/* You can add global styles to this file, and also import other style files */


.ol-mouse-position {
  background-color: rgba(0, 60, 136, .4);
  border-radius: 4px;
  color: #eee;
  padding: 1px 5px;
  top: unset !important;
  left: 45%;
  right: unset !important;
  bottom: 8px;
}

.portal-head {
  position: relative;
  cursor: default;
  margin: 0px 5px 0px 5px;
  border-bottom: 1px solid darkcyan;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;

    .close-button {
      cursor: pointer;
      background-color: transparent;
      width: 28px;
      height: 24px;
      outline: none;
      border: none;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
