/* You can add global styles to this file, and also import other style files */


.ol-mouse-position {
  background-color: rgba(0, 60, 136, .4);
  border-radius: 4px;
  color: #eee;
  padding: 1px 5px;
  top: unset !important;
  left: 45%;
  right: unset !important;
  bottom: 8px;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
